.quote-moods {
  margin: 5% 0% 5% 0%;
  background-color: #aabbcc;
  color: #003355;
  padding: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: #ACD7EC;
  font-size: 30px;
  font-style: italic;
}

.happy{
  background-color: #aabbcc;
}

.motivational{
  background-color: #aabbcc;
}

.inspirational{
  background-color: #aabbcc;
}

.sad{
  font-size: 1.94rem;
  padding: 1rem 6rem 1.0625rem 6rem;
  color: #ffeedd;
  margin-left: 20px;
}

.sad:hover{
  color: #225BA0;
  box-shadow: 8px 9px 2px #11354cb3;
}

.unmotivated{
  font-size: 1.94rem;
  padding: 1rem 2rem 1.0625rem 2rem;
  color: #ffeedd;
  margin-left: 20px;
}

.unmotivated:hover{
  color: #225BA0;
  box-shadow: 8px 9px 2px #11354cb3;
}

.uninspired{
  font-size: 1.94rem;
  padding: 1rem 4rem 1.0625rem 4rem;
  color: #ffeedd;
  margin-left: 20px;
}

.uninspired:hover{
  color: #225BA0;
  box-shadow: 8px 9px 2px #11354cb3;
}

.button-link{
  font-size: 1.94rem;
  color: #ffeedd;
  margin-left: 20px;
  background-color: #665577;
}

.button-link:hover{
  color: #225BA0;
  box-shadow: 8px 9px 2px #11354cb3;
  background-color: #8888aa;
}
