.box {
    box-sizing: none;
    width: 45%;
    border: 2px solid #ACD7EC;
    float: left;
    padding: 20px;
    background-color: #AFB3FF;
    margin: 20px 0px 50px;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.favorite {
  color: white;
}

.favorite:hover{
  background-color: #bfa3ff;
}

.dislike {
  color: white;
}

.dislike:hover{
  background-color: #bfa3ff;
}

.feedback {
  background-color: #AFB3FF;
  border: 2px solid #ACD7EC;
  color: white;
  padding: 20px;
  font-family: fantasy;
  font-size: 25px;
  text-align: center;
}
