.quotes-title{
  font-size: 40px;
  margin: 25px 20px 25px;
  font-family: Quicksand;
}

.quote-form{
  background-color: #bfa3ff;
  margin: 5% 0% 5% 0%;
  width: 50%;
  color: white;
  padding: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #AFB3FF;
  font-size: 30px;
  font-family: Quicksand;
}

label{
  font-size: 20px;
}

input[type="text"]{
  height: 3.3125rem;
}

/* 397ac2 quote body text */
/* #225BA0 index title */
