.box {
    box-sizing: none;
    width: 48%;
    border: 2px solid #ACD7EC;
    float: left;
    padding: 15px;
    background-color: #4477aa;
    margin: 20px 0px 50px;
    font-family: Comfortaa;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.favorite {
  color: #ffeedd;
}

.favorite:hover{
  background-color: #aabbcc;
  color: #225BA0;
}

.dislike {
  color: #ffeedd;
}

.dislike:hover{
  background-color: #aabbcc;
  color: #225BA0;
}

.feedback {
  background-color: #4477aa;
  border: 2px solid #ACD7EC;
  color: #ffeedd;
  padding: 20px;
  font-family: Comfortaa;
  font-size: 25px;
  text-align: center;
}
