.quote-form{
  background-color: #4477aa;
  margin: auto;
  width: 50%;
  padding: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #ACD7EC;
  font-size: 30px;
  font-family: Quicksand;
}

.quote-form-title{
  font-size: 40px;
  text-align: center;
  margin: 25px 20px 25px;
  font-family: Quicksand;
  color: white;
  text-shadow: 1px 5px 4px #000000;
}

label{
  font-size: 20px;
  color: #ffeedd;
}

input[type="text"]{
  height: 3.3125rem;
}

.quote-form button{
  margin-top: 2%;
  background-color: #aabbcc;
}

.submit-button{
  float: right;
  background-color: #aabbcc;
}

a.edit-quote-button{
  float: right;
  color:  #003355;
}

a.edit-quote-button:hover{
  color: white;
}
