.quotes-title{
  font-size: 40px;
  margin: 25px 20px 25px;
  font-family: Quicksand;
}

.user-quote-moods {
  margin-top: 5%;
  background-color: #CAE7FC;
  color: #225BA0;
  padding: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: #AFB3FF;
  font-size: 30px;
  font-style: italic;
}

.happy-category{
  font-size: 1.94rem;
  padding: 1rem 6rem 1.0625rem 6rem;
  color: #225BA0;
  margin-left: 20px;
}

.happy-category:hover{
  color: #225BA0;
}

.motivational-category{
  font-size: 1.94rem;
  padding: 1rem 3rem 1.0625rem 3rem;
  color: #225BA0;
  margin-left: 20px;
}

.motivational-category:hover{
  color: #225BA0;
}

.inspirational-category{
  font-size: 1.94rem;
  padding: 1rem 3rem 1.0625rem 3rem;
  color: #225BA0;
  margin-left: 20px;
}

.inspirational-category:hover{
  color: #225BA0;
}

.add-quote-button{
  font-size: 1.94rem;
  padding: 1rem 3rem 1.0625rem 3rem;
  color: #225BA0;
  margin-left: 20px;
}

.add-quote-button:hover{
  color: #225BA0;
}
